<fieldset>
  <legend>
   Shops Found In Store
  </legend>
  <table>
    <thead>
      <tr>
        <th>Shop name </th>
        <th>Sales Person </th>
        <th>Shop city  </th>
        <th>Shop Area  </th>
        <th>Shop Category </th>
        <th>Approved Status </th>
        <th>Shop created at  </th>
        <th>Shop Updated At</th>
     </tr>
    </thead>
    <!-- want to insert collection children, here -->
    <tbody id="table_shop_body">
    </tbody>
  </table>
  <br>
  <br>
  </fieldset>
