  <table>
    <thead>
      <tr>
        <th>Shop Name &nbsp&nbsp&nbsp&nbsp</th>
        <th>Created At &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
        <th>Updated At &nbsp&nbsp&nbsp&nbsp</th>
      </tr>
    </thead>

    <!-- want to insert collection children, here -->
    <tbody id="table_body">
    </tbody>
  </table>
