<div id="moderator_layout1">
</div>
<br>
<div id="moderator_layout2"></div>
<p align="center">
<a class="add"> Add More Sales Persons</a>
</p>
<p align="center">
<a class="delete">Delete SalePersons</a>
</p>
<p align="center">
<a class="category">Add Shop Category</a>
</p>
