<html>
<fieldset>
  <legend>Sales Persons Not Assigned Moderator </legend>
<table>
<tr>
  <th>Sales Name &nbsp&nbsp&nbsp</th>
  <th>Contact &nbsp&nbsp&nbsp</th>
  <th>Email Id &nbsp&nbsp&nbsp</th>
  <th> Created At  &nbsp&nbsp&nbsp</th>
  <th> Updated At &nbsp&nbsp&nbsp</th>
  <th> Delete Sales Person  &nbsp&nbsp&nbsp</th>
</tr>
</table>
<div id="delSale">

</div>
</fieldset>
</html>
